<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension point="org.eclipse.ui.views">
         <view
               category="org.knime.workbench.ui.category"
               class="org.knime.workbench.cef.hubview.HubView"
               icon="icons/knime.png"
               id="org.knime.workbench.cef.hubview"
               name="KNIME Hub"
               restorable="true"/>
   </extension>
   <extension
         point="org.knime.core.WizardNodeView">
      <wizardNodeView
            description="Browser using the Chromium Embedded Framework (CEF) Browser"
            name="Chromium Embedded Framework (CEF) Browser"
            viewClass="org.knime.workbench.cef.wizardnodeview.CEFWizardNodeView">
      </wizardNodeView>
   </extension>   
</plugin>
