<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.knime.workbench.explorer.contentprovider" name="KNIME Explorer Contentprovider" schema="schema/org.knime.workbench.explorer.contentprovider.exsd"/>
      <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="knime">
         <run
               class="org.knime.workbench.explorer.filesystem.ExplorerFileSystem">
         </run>
      </filesystem>
   </extension>
      <extension
            point="org.eclipse.ecf.filetransfer.urlStreamHandlerService">
         <urlStreamHandlerService
               protocol="knime"
               serviceClass="org.knime.workbench.explorer.ExplorerURLStreamHandler">
         </urlStreamHandlerService>
      </extension>
      <extension
            point="org.knime.workbench.explorer.contentprovider">
         <KNIMEExplorerContentProvider
               ContentProviderFactory="org.knime.workbench.explorer.localworkspace.LocalWorkspaceContentProviderFactory">
         </KNIMEExplorerContentProvider>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="org.knime.workbench.ui.preferences"
               class="org.knime.workbench.explorer.view.preferences.ExplorerPreferencePage"
               id="org.knime.workbench.explorer.view.explorer"
               name="KNIME Explorer">
         </page>
      </extension>
      <extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.knime.workbench.explorer.view.preferences.ExplorerPreferenceInitializer">
         </initializer>
      </extension>
</plugin>
