<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="org.knime.workbench.explorer.contentprovider" name="KNIME Explorer Contentprovider" schema="schema/org.knime.workbench.explorer.contentprovider.exsd"/>
      <extension
         point="org.eclipse.core.filesystem.filesystems">
      <filesystem
            scheme="knime">
         <run
               class="org.knime.workbench.explorer.filesystem.ExplorerFileSystem">
         </run>
      </filesystem>
   </extension>
      <extension
            point="org.knime.workbench.explorer.contentprovider">
         <KNIMEExplorerContentProvider
               ContentProviderFactory="org.knime.workbench.explorer.localworkspace.LocalWorkspaceContentProviderFactory">
         </KNIMEExplorerContentProvider>
      </extension>
      <extension
            point="org.eclipse.ui.preferencePages">
         <page
               category="org.knime.workbench.ui.preferences"
               class="org.knime.workbench.explorer.view.preferences.ExplorerPreferencePage"
               id="org.knime.workbench.explorer.view.explorer"
               name="KNIME Explorer">
         </page>
      </extension>
      <extension
            point="org.eclipse.core.runtime.preferences">
         <initializer
               class="org.knime.workbench.explorer.view.preferences.ExplorerPreferenceInitializer">
         </initializer>
      </extension>
   <extension point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension targetID="org.knime.workbench.ui.ModellerPerspective">
         <viewShortcut id="org.knime.workbench.explorer.view"></viewShortcut>
         <newWizardShortcut
               id="org.knime.workbench.ui.wizards.project.NewProjectWizard">
         </newWizardShortcut>
         <newWizardShortcut
               id="org.knime.workbench.ui.newworkflowgroup">
         </newWizardShortcut>
      </perspectiveExtension>
   </extension>
   <extension point="org.eclipse.ui.views">
      <view
            allowMultiple="true"
            category="org.knime.workbench.ui.category"
            class="org.knime.workbench.explorer.view.ExplorerView"
            icon="icons/knime_explorer.png"
            id="org.knime.workbench.explorer.view"
            name="KNIME Explorer"
            restorable="true">
      </view>
   </extension>      
   
    <extension point="org.eclipse.ui.menus">
        <menuContribution locationURI="popup:org.knime.workbench.explorer.view?after=additions">
            <command commandId="org.eclipse.ui.edit.cut"/>
            <command commandId="org.eclipse.ui.edit.copy"/>
            <command commandId="org.eclipse.ui.edit.paste"/>
        </menuContribution>
    </extension>
    <extension point="org.eclipse.ui.newWizards">
        <primaryWizard
            id="org.knime.workbench.ui.wizards.project.NewProjectWizard">
        </primaryWizard>
        <primaryWizard
            id="org.knime.workbench.ui.newworkflowgroup">
        </primaryWizard>
    </extension>
</plugin>
